# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

1都6県のそれぞれにおいて2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201904)/pop_201904)が一番小さい駅

## prerequisites

In [121]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [122]:
def query_geopandas(sql, db):
    """
    Executes a SQL query on a postGIS and returns the result as a GeoPandas GeoDataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        geopandas.GeoDataFrame: The result of the SQL query as a GeoPandas GeoDataFrame.
    """
    DATABASE_URL = 'postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [127]:
# " "のなかにSQL文を記述
sql = "with pop_201904 as \
            (with pop2019 as \
                (select distinct(p.name), d.prefcode, d.year, d.month, d.population, p.geom \
                    from pop as d \
                    inner join pop_mesh as p \
                        on p.name = d.mesh1kmid \
                    where d.dayflag='0' and \
                            d.timezone='0' and \
                            d.year='2019' and \
                            d.month='04') \
            select poly.name_1, pt.name, sum(pop2019.population) as sum \
                from pop2019 \
                    inner join adm2 as poly \
                        on st_within(pop2019.geom, poly.geom) \
                    inner join planet_osm_point pt \
                        on st_within(pt.way,st_transform(poly.geom, 3857)) \
                where poly.name_1 in ('Tokyo', 'Gunma', 'Tochigi', 'Ibaraki', 'Chiba', 'Saitama', 'Kanagawa') and \
                        pt.railway='station' \
                group by poly.name_1, pt.name), \
            pop_202004 as \
            (with pop2020 as \
                (select distinct(p.name), d.prefcode, d.year, d.month, d.population, p.geom \
                    from pop as d \
                    inner join pop_mesh as p \
                        on p.name = d.mesh1kmid \
                    where d.dayflag='0' and \
                            d.timezone='0' and \
                            d.year='2020' and \
                            d.month='04') \
            select poly.name_1, pt.name, sum(pop2020.population) as sum \
                from pop2020 \
                    inner join adm2 as poly \
                        on st_within(pop2020.geom, poly.geom) \
                    inner join planet_osm_point pt \
                        on st_within(pt.way,st_transform(poly.geom, 3857)) \
                where poly.name_1 in ('Tokyo', 'Gunma', 'Tochigi', 'Ibaraki', 'Chiba', 'Saitama', 'Kanagawa') and \
                        pt.railway='station' \
                group by poly.name_1, pt.name), \
            pop_min as \
                (select pop_201904.name_1, min((pop_202004.sum - pop_201904.sum)/pop_201904.sum) as ratio \
                    from pop_201904 \
                    inner join pop_202004 \
                        on pop_201904.name = pop_202004.name \
                    group by pop_201904.name_1) \
        select pop_201904.name_1, pop_201904.name as station, ((pop_202004.sum - pop_201904.sum)/pop_201904.sum) as ratio \
            from pop_201904 \
                inner join pop_202004 \
                    on pop_201904.name = pop_202004.name \
                inner join pop_min \
                    on pop_201904.name_1 = pop_min.name_1 and ((pop_202004.sum - pop_201904.sum)/pop_201904.sum)=pop_min.ratio \
            order by ratio;"

## Outputs

In [107]:
# sample_mapping_X.ipynbから適切なものを選択し使用する

In [128]:
out = query_geopandas(sql,'gisdb')
print(out)

      name_1 station     ratio
0      Tokyo      中野 -0.913899
1    Saitama     多摩湖 -0.844595
2   Kanagawa      大和 -0.784462
3      Chiba      栄町 -0.686108
4      Gunma      井野 -0.663629
5    Tochigi      豊原 -0.461036
6    Tochigi      高久 -0.461036
7    Tochigi     黒田原 -0.461036
8    Ibaraki     那珂湊 -0.112622
9    Ibaraki      金上 -0.112622
10   Ibaraki    阿字ヶ浦 -0.112622
11   Ibaraki   高田の鉄橋 -0.112622
12   Ibaraki      殿山 -0.112622
13   Ibaraki      佐和 -0.112622
14   Ibaraki      勝田 -0.112622
15   Ibaraki     工機前 -0.112622
16   Ibaraki      平磯 -0.112622
17   Ibaraki      中根 -0.112622
18   Ibaraki      磯崎 -0.112622
19   Ibaraki   美乃浜学園 -0.112622